<section id="account" class="c-account u-hidden">
  <div class="c-account__top o-strip u-bgGray">
    <div class="c-account__container o-container o-flexFlip">
      <div class="c-account__info o-flexItem-40 o-flexColumn">
        <h2 class="c-account__heading u-truncate">
          {{ section.settings.main_heading }}
        </h2>
        <h5 class="c-account__subheading u-truncate">
          {{ customer.email }}
        </h5>
        <div class="c-account__address">
          {% if customer.default_address %}
            {{ customer.first_name | capitalize }} {{ customer.last_name | capitalize }}<br />
            {{ customer.default_address.address1 }}<br />
            {% if customer.default_address.address2 != '' and customer.default_address.address2 != nil %}
              {{ customer.default_address.address2 }}<br />
            {% endif %}
            {{ customer.default_address.city}}, {% if customer.default_address.province_code %}{{ customer.default_address.province_code }}, {% endif %} {{ customer.default_address.zip }}<br />
            {% if customer.default_address.phone != '' and customer.default_address.phone != nil %}
              <a class="c-account__addressLink c-link" href="tel:{{ customer.default_address.phone }}">
                {{ customer.default_address.phone }}
              </a>
            {% endif %}
          {% else %}
            {{ section.settings.main_no_address }}
          {% endif %}
        </div>
        <a href="/account/addresses" class="c-account__button c-button-small c-button--secondary">
          {{ section.settings.main_address_button }}
        </a>
      </div>
      <div class="c-account__cart o-flexItem-60">
        <vue-cart-account></vue-cart-account>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
	"name": "Page",
	"settings": [
    {
      "type": "header",
      "content": "Account Main"
    },
		{
      "type": "text",
			"id": "main_heading",
			"label": "Account Heading",
      "default": "My Account"
		},
    {
      "type": "text",
			"id": "main_no_address",
			"label": "Account No Address",
      "default": "You don't have any addresses on file."
		},
    {
      "type": "text",
			"id": "main_address_button",
			"label": "Address Button",
      "default": "Manage Addresses"
		}
  ]
}
{% endschema %}
