{% assign content = section.settings %}

<section id="addresses" class="c-addresses">
  {% include "block-navbar" with nav_title: "Account" %}
  <div class="c-addresses__top o-strip u-bgGray">
    <div class="c-addresses__container o-container o-flexFlip">
      <div class="c-addresses__addresses o-flexItem-40">
        <div class="c-addresses__block c-addresses__primary o-flexColumn">
          <h2 class="c-addresses__heading">
            {{ content.main_primary_heading }}
          </h2>
          {% if customer.addresses.size == 0 %}
            <div class="c-addresses__text">
              {{ content.main_no_address }}
            </div>
            <button class="c-addresses__button c-button-small c-button--secondary trigger-modal" data-modal-content-id="addAddress">
              {{ content.main_add_button }}
            </button>
          {% else %}
            <div class="c-addresses__group">
              {% assign address = customer.default_address %}
              {% if address %}
                <h4 class="c-addresses__subheading">
                  {{ address.first_name | capitalize }} {{ address.last_name | capitalize }}
                  <button class="c-button-icon c-button-icon--edit trigger-modal" data-modal-content-id="editAddress_{{ address.id }}">
                    <i class="fas fa-pencil-alt"></i>
                  </button>
                </h4>
                <div class="c-addresses__text">
                  {% if address.company != '' and address.company != nil %}
                    {{ address.company }}<br />
                  {% endif %}
                  {{ address.address1 }}<br />
                  {% if address.address2 != '' and address.address2 != nil %}
                    {{ address.address2 }}<br />
                  {% endif %}
                  {{ address.city}}, {% if address.province_code %}{{ address.province_code }}, {% endif %} {{ address.zip }}<br />
                  {% if address.phone != '' and address.phone != nil %}
                    <a class="c-addresses__addressLink c-link" href="tel:{{ address.phone }}">
                      {{ address.phone }}
                    </a>
                  {% endif %}
                </div>
              {% endif %}
            </div>
          {% endif %}
        </div>
        <div class="c-addresses__block c-addresses__other o-flexColumn">
          {% if customer.addresses.size > 1 %}
            <h2 class="c-addresses__heading">
              {{ content.main_other_heading }}
            </h2>
            {% if customer.addresses.size == 1 %}
              <div class="c-addresses__text">
                {{ content.main_no_other }}
              </div>
            {% else %}
              {% for address in customer.addresses %}
                {% if address != customer.default_address %}
                  <div class="c-addresses__group">
                    <h4 class="c-addresses__subheading">
                      {{ address.first_name | capitalize }} {{ address.last_name | capitalize }}
                      <button class="c-button-icon c-button-icon--edit trigger-modal" data-modal-content-id="editAddress_{{ address.id }}">
                        <i class="fas fa-pencil-alt"></i>
                      </button>
                    </h4>
                    <div class="c-addresses__text">
                      {% if address.company != '' and address.company != nil %}
                        {{ address.company }}<br />
                      {% endif %}
                      {{ address.address1 }}<br />
                      {% if address.address2 != '' and address.address2 != nil %}
                        {{ address.address2 }}<br />
                      {% endif %}
                      {{ address.city}}, {% if address.province_code %}{{ address.province_code }}, {% endif %} {{ address.zip }}<br />
                      {% if address.phone != '' and address.phone != nil %}
                        <a class="c-addresses__addressLink c-link" href="tel:{{ address.phone }}">
                          {{ address.phone }}
                        </a>
                      {% endif %}
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endif %}
          <button class="c-addresses__button c-address__button--other c-button-small c-button--secondary trigger-modal" data-modal-content-id="addAddress">
            {{ content.main_add_button }}
          </button>
        </div>
      </div>
      <div class="c-addresses__cart o-flexItem-60">
        <vue-cart-account></vue-cart-account>
      </div>
    </div>
  </div>
  <vue-modal prerender="{{ true }}">
    {% include "form-address-add" with content: content %}
    {% include "form-address-edit" with content: content %}
    {% include "form-address-delete" with content: content %}
  </vue-modal>
</section>

{% schema %}
{
	"name": "Content",
	"settings": [
    {
      "type": "header",
      "content": "Addresses Main"
    },
    {
      "type": "text",
			"id": "main_primary_heading",
			"label": "Primary Address Heading",
      "default": "Primary Address"
		},
    {
      "type": "text",
			"id": "main_no_primary",
			"label": "No Primary Address Text",
      "default": "You don't have a primary address."
		},
    {
      "type": "text",
			"id": "main_other_heading",
			"label": "Other Addresses Heading",
      "default": "Other Addresses"
		},
    {
      "type": "text",
			"id": "main_no_other",
			"label": "No Other Addresses Text",
      "default": "You don't have any other addresses."
		},
    {
      "type": "text",
			"id": "main_add_button",
			"label": "Other Addresses Heading",
      "default": "Add Address"
		},
    {
      "type": "header",
      "content": "Address Forms"
    },
    {
      "type": "text",
			"id": "form_add_header",
			"label": "Add Address Header",
      "default": "Add Address"
		},
    {
      "type": "text",
			"id": "form_edit_header",
			"label": "Edit Address Header",
      "default": "Edit Address"
		},
    {
      "type": "text",
			"id": "form_delete_header",
			"label": "Delete Address Header",
      "default": "Are you sure you want to delete this address?"
		},
    {
      "type": "text",
			"id": "form_first_name",
			"label": "First Name Placeholder",
      "default": "First Name"
		},
    {
      "type": "text",
			"id": "form_last_name",
			"label": "Last Name Placeholder",
      "default": "Last Name"
		},
    {
      "type": "text",
			"id": "form_company",
			"label": "Company Placeholder",
      "default": "Company"
		},
    {
      "type": "text",
			"id": "form_address1",
			"label": "Address Line 1 Placeholder",
      "default": "Address Line 1"
		},
    {
      "type": "text",
			"id": "form_address2",
			"label": "Address Line 2 Placeholder",
      "default": "Address Line 2"
		},
    {
      "type": "text",
			"id": "form_city",
			"label": "City Placeholder",
      "default": "City"
		},
    {
      "type": "text",
			"id": "form_country",
			"label": "Country Placeholder",
      "default": "Country"
		},
    {
      "type": "text",
			"id": "form_province",
			"label": "Province Placeholder",
      "default": "Province"
		},
    {
      "type": "text",
			"id": "form_zip",
			"label": "Zip Code Placeholder",
      "default": "Zip Code"
		},
    {
      "type": "text",
			"id": "form_phone",
			"label": "Phone Placeholder",
      "default": "Phone"
		},
    {
      "type": "text",
			"id": "form_default",
			"label": "Default Checkbox Label",
      "default": "Set as default address"
		},
    {
      "type": "text",
			"id": "form_save",
			"label": "Save Text",
      "default": "Save"
		},
    {
      "type": "text",
			"id": "form_confirm",
			"label": "Confirm Text",
      "default": "Confirm"
		},
    {
      "type": "text",
			"id": "form_cancel",
			"label": "Cancel Text",
      "default": "Cancel"
		},
    {
      "type": "text",
			"id": "form_delete",
			"label": "Delete Text",
      "default": "Delete Address"
		},
    {
      "type": "text",
			"id": "form_updating",
			"label": "Form Updating Text",
      "default": "Updating Your Account"
		}
  ]
}

{% endschema %}