<header class="c-header">
  <div class="c-headerTop">
    <div class="c-headerTop__inner">
      <i class="c-headerTop__icon fas fa-heart"></i>
      100% profits to shelters
      <i class="c-headerTop__icon fas fa-heart"></i>
    </div>
  </div>
  <div class="c-headerMiddle">
    <div class="c-headerMiddle__inner">
      <a class="c-headerMiddle__logo" href="/">
        <img class="c-headerMiddle__logoIcon" src="{{ 'logo.svg' | asset_url }}"  alt="{{ shop.name }}" />
      </a>
      <nav class="c-headerMiddle__nav">
        {% for link in linklists.main-menu-dev.links %}
          <a class="c-headerMiddle__link{% if link.active %} c-headerMiddle__link--active{% endif %}" href="{{ link.url }}">{{ link.title }}</a>
        {% endfor %}
        <nav class="c-headerMiddle__social">
          {% assign socialIcons = 'facebook-f,twitter,instagram' | split:',' %}
          {% for link in linklists.social-menu.links %}
            <a class="c-headerMiddle__socialLink" href= "{{ link.url }}" target="_blank">
              <i class="c-headerMiddle__socialIcon c-headerMiddle__socialIcon--{{ link.title | downcase }} fab fa-{{ socialIcons[forloop.index0] }}"></i>
            </a>
          {% endfor %}
        </nav>
      </nav>
       <vue-portal name="mini-cart-trigger-header" class="c-headerMiddle__cart"></vue-portal>
    </div>
  </div>
  <div class="c-headerMobile">
    <div class="c-headerMobile__inner">
      <vue-portal name="mobile-menu-trigger" class="c-headerMobile__cart"></vue-portal>
      <a class="c-headerMobile__logo" href="/">
        <img class="c-headerMobile__logoIcon" src="{{ 'logo.svg' | asset_url }}"  alt="{{ shop.name }}" itemprop="logo" />
      </a>
      <vue-portal name="mini-cart-trigger-header-mobile" class="c-headerMobile__cart"></vue-portal>
    </div>
  </div>
  <div class="c-headerBottom">
    <div class="c-headerBottom__inner">
      <form class="c-headerBottom__search" action="/search">
        <i class="c-headerBottom__searchIcon fas fa-search"></i>
        <input class="c-headerBottom__searchInput" type="text" placeholder="Search..." name="q" value="{{ search.terms | escape }}"  />
      </form>
      <nav class="c-headerBottom__nav">
        {% if shop.customer_accounts_enabled %}
          {% if customer %}
            <a class="c-headerBottom__navLink" href="/account">
              <span class="c-headerBottom__navText">My Account</span>
              <i class="c-headerBottom__navIcon fas fa-user-alt"></i>
            </a>
          {% else %}
            <a class="c-headerBottom__navLink" href="/login">
              <span class="c-headerBottom__navText">Login</span>
              <i class="c-headerBottom__navIcon fas fa-user-alt"></i>
            </a>
          {% endif %}
          <span class="c-headerBottom__navBreak">|</span>
        {% endif %}
         <a class="c-headerBottom__navLink c-headerBottom__navLink--contact" href="/contact-us">
            Contact Us
          </a>
      </nav>
    </div>
  </div>
<header>