{% assign content = section.settings %}

<header id="header" class="c-header" aria-label="Header">
  <div id="headerBar" class="c-headerBar">
    <div class="headerBar__container o-container--large">
      {% if content.bar_show_icon_left %}
        <i class="c-headerBar__icon {{ content.bar_icon_left }}"></i>
      {% endif %}
      {{ content.bar_text }}
      {% if content.bar_show_icon_left %}
        <i class="c-headerBar__icon {{ content.bar_icon_right }}"></i>
      {% endif %}
    </div>
  </div>
  <div id="headerMain" class="c-headerMain">
    <div class="c-headerMain__container o-container--large">
      <button class="c-headerMain__menu trigger-sidemenu" aria-label="Toggle Menu">
        <span class="c-headerMain__burger">
          {% include "icon-burger" %}
        </span>
      </button>
      <button class="c-headerMain__menu trigger-sidemenu u-hidden" aria-label="Toggle Menu">
        <span class="c-headerMain__close">
          {% include "icon-close" %}
        </span>
      </button>
      <a class="c-headerMain__logo" href="/" title="Home">
        <img class="c-headerMain__logoIcon" src="{{ content.main_logo | asset_url }}"  alt="{{ shop.name }}" />
      </a>
      <div class="c-headerMain__buttons o-flexRow">
        {% if content.search_show %}
          <button class="c-headerMain__button c-headerMain__search trigger-search">
            {% include "icon-search" %}
          </button>
        {% endif %}
        <button class="c-headerMain__button c-headerMain__cart trigger-cart" aria-label="Toggle Cart">
          {% include "icon-cart" %}
          <span class="c-headerMain__cartCount data-cart-count">
            {{ cart.item_count }}
          </span>
        </button>
      </div>
    </div>
  </div>
  <div id="headerNav" class="c-headerNav">
    <div class="headerNav__container o-container--large">
      <nav class="c-headerNav__nav" role="navigation" aria-label="Main Navigation">
        <div class="c-headerNav__account trigger-nav-account">
          <button class="c-headerNav__burger" aria-label="Toggle Menu">
            {% include "icon-burger" %}
          </button>
          <ul class="c-headerNav__drop" id="navAccount">
            {% for nav in linklists[content.main_account].links %}
              {% if customer and nav.title == "User" %}
                {% assign account_nav = nav %}
              {% endif %}
              {% if customer == blank and nav.title == "Guest" %}
                {% assign account_nav = nav %}
              {% endif %}
            {% endfor %}
            {% for link in account_nav.links %}
              <li class="c-headerNav__dropItem">
                <a class="c-headerNav__dropLink" href="{{ link.url }}" title="{{ link.title }}">
                  {{ link.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <ul class="c-headerNav__list">
          {% for nav in linklists[content.main_nav].links %}
            <li class="c-headerNav__item">
              {% if nav.links.size <= 0 %}
                <a class="c-headerNav__link" href="{{ nav.url }}" title="{{ nav.title }}">
                  {{ nav.title }}
                </a>
              {% else %}
                <span class="c-headerNav__link" aria-label="{{ nav.title }} Dropdown">
                  {{ nav.title }}
                </span>
                <ul class="c-headerNav__drop">
                  {% for link in nav.links %}
                    <li class="c-headerNav__dropItem">
                      <a class="c-headerNav__dropLink" href="{{ link.url }}" title="{{ link.title }}">
                        {{ link.title }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
        <div class="c-headerNav__buttons o-flexRow">
          {% if content.search_show %}
            <button class="c-headerNav__button c-headerMain__search trigger-search">
              {% include "icon-search" %}
            </button>
          {% endif %}
          <button class="c-headerNav__button c-headerNav__cart trigger-cart">
            {% include "icon-cart" %}
            <span class="c-headerNav__cartCount data-cart-count">
              {{ cart.item_count }}
            </span>
          </button>
        </div>
      </nav>
    </div>
  </div>
  {% if content.search_show %}
    <div id="headerSearch" class="c-headerSearch u-hidden">
      <div class="c-headerSearch__container o-container--large o-flexRow">
        {% include "form-search" with placeholder: content.search_placeholder %}
        <button class="c-headerSearch__close trigger-search">
          {% include "icon-close" %}
        </button>
      </div>
    </div>
  {% endif %}
</header>

<script src="{{ 'layout-header.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
	"name": "Header",
	"settings": [
    {
      "type": "header",
      "content": "Header Bar"
    },
    {
      "type": "checkbox",
      "id": "bar_show_icon_left",
      "label": "Show Icon Left",
      "default": true
    },
    {
      "type": "text",
      "id": "bar_icon_left",
      "label": "Icon Left",
      "info": "FontAwesome class",
      "default": "fas fa-heart"
    },
    {
      "type": "text",
      "id": "bar_text",
      "label": "Text",
      "default": "100% profits to shelters"
    },
    {
      "type": "checkbox",
      "id": "bar_show_icon_right",
      "label": "Show Icon Right",
      "info": "FontAwesome class",
      "default": true
    },
    {
      "type": "text",
      "id": "bar_icon_right",
      "label": "Icon Right Class",
      "default": "fas fa-heart"
    },
    {
      "type": "header",
      "content": "Header Main"
    },
    {
      "type": "text",
      "id": "main_logo",
      "label": "Logo",
      "info": "Asset file",
      "default": "logo.svg"
    },
    {
      "type": "link_list",
      "id": "main_account",
      "label": "Account Navigation"
    },
    {
      "type": "link_list",
      "id": "main_nav",
      "label": "Main Navigation"
    },
    {
      "type": "header",
      "content": "Header Search"
    },
    {
      "type": "checkbox",
      "id": "search_show",
      "label": "Show Search",
      "default": true
    },
    {
      "type": "text",
      "id": "search_placeholder",
      "label": "Search Placeholder",
      "default": "Search..."
    }
  ]
}
{% endschema %}

