{% for block in section.blocks %}
  {% if block.type == "navigation" %}    
    {% assign nav_pages = block.settings.pages | split: "," %}
    {% if block.settings.templates contains template.name or block.settings.pages contains page.handle %}
      {% assign nav_handle = block.settings.menu | handleize %}
      {% assign nav_icon = block.settings.icon %}
      {% assign nav_label = block.settings.label %}
      {% for nav in linklists.subheader-navigation.links %}
        {% assign nav_title = nav.title | handleize %}
        {% if nav_title == nav_handle %}
          {% assign nav_menu = nav %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endif %}
{% endfor %}
{% if nav_handle %}
  <div id="subheader" class="c-subheader">
    <div class="c-subheader__container o-container--large">
      <span class="c-subheader__label">
        {% if nav_icon != blank %}
          <i class="c-subheader__labelIcon {{ nav_icon }}"></i>
        {% endif %}
        {% if nav_handle == 'account' and customer %}
          {{ customer.first_name }}
        {% else %}
          {{ nav_label }}
        {% endif %}
      </span>
      <span class="c-subheader__select">
        <select id="subheader-select" class="c-subheader__selectInner">
          {% for link in nav_menu.links %}
            {% if link.url == "/account/orders/" %}
              {% if template.name == "order" %}
                <option value="{{ order.customer_url }}" selected="selected">{{ link.title }} {{ order.name }}</option>
              {% endif %}
            {% else %}
              <option value="{{ link.url }}">{{ link.title }}</option>
            {% endif %}
          {% endfor %}
        </select>
        <span id="subheader-select-label" class="c-subheader__selectLabel"></span>
      </span>
    </div>
  </div>
{% endif %}

<script src="{{ 'layout-subheader.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
	"name": "Subheader",
  "blocks": [
    {
      "type": "navigation",
      "name": "Navigation",
      "settings": [
        {
          "id": "menu",
          "type": "text",
          "label": "Navigation Menu",
          "info": "Must match subheader navigation"
        },
        {
          "id": "icon",
          "type": "text",
          "label": "Navigation Icon",
          "info": "FontAwesome class"
        },
        {
          "id": "label",
          "type": "text",
          "label": "Navigation Label"
        },
        {
          "id": "templates",
          "type": "text",
          "label": "Templates",
          "info": "Show on these templates"
        },
        {
          "id": "pages",
          "type": "text",
          "label": "Pages",
          "info": "Show on these pages"
        }
      ]
    }
  ]
}
{% endschema %}