<header class="c-header">
  <div class="c-headerBar">
    <div class="c-headerBar__inner">
      <i class="c-headerBar__icon fas fa-heart"></i>
      100% profits to shelters
      <i class="c-headerBar__icon fas fa-heart"></i>
    </div>
  </div>
  <div class="c-headerMain">
    <div class="c-headerMain__inner">
      <a class="c-headerMain__logo" href="/">
        <img class="c-headerMain__logoIcon" src="{{ 'logo.svg' | asset_url }}"  alt="{{ shop.name }}" itemprop="logo" />
      </a>
      <nav class="c-headerMain__nav">
        {% for link in linklists.main-menu-dev.links %}
          <a class="c-headerMain__link{% if link.active %} c-headerMain__link--active{% endif %}" href="{{ link.url }}">{{ link.title }}</a>
        {% endfor %}
        <nav class="c-headerMain__social">
          {% assign socialIcons = 'facebook-f,twitter,instagram' | split:',' %}
          {% for link in linklists.social-menu-dev.links %}
            <a class="c-headerMain__socialLink" href= "{{ link.url }}" target="_blank">
              <i class="c-headerMain__socialIcon c-headerMain__socialIcon--{{ link.title | downcase }} fab fa-{{ socialIcons[forloop.index0] }}"></i>
            </a>
          {% endfor %}
        </nav>
      </nav>
       <div id="mini-cart-trigger" class="c-headerMain__cart"></div>
    </div>
  </div>
  <div class="c-headerMobile">
    <div class="c-headerMobile__inner">
      <button class="c-headerMobile__menu" id="mobile-nav-trigger">
        <span class="c-headerMobile__menuIcon"></span>
      </button>
      <a class="c-headerMobile__logo" href="/">
        <img class="c-headerMobile__logoIcon" src="{{ 'logo.svg' | asset_url }}"  alt="{{ shop.name }}" itemprop="logo" />
      </a>
      <div id="mini-cart-trigger-mobile" class="c-headerMobile__cart"></div>
    </div>
  </div>
<header>