<nav id="sidemenu" class="c-sidemenu" role="navigation" aria-label="Main Navigation">
  <form class="c-sidemenu__search" action="search" autocomplete="off" aria-role="form" arial-label="Search">
    <span class="c-sidemenu__searchIcon">
      {% include 'icon-search' %}
    </span>
    <input class="c-sidemenu__searchInput" type="text" placeholder="{{ section.settings.search_text }}" name="q" />
  </form>
  <ul class="c-sidemenu__list c-sidemenu__primary">
    {% for link in linklists[section.settings.main_nav].links %}
      <li class="c-sidemenu__item">
        {% if link.links.size <= 0 %}
          <a class="c-sidemenu__link" href="{{ link.url }}" title="{{ link.title }}">
            {{ link.title }}
          </a>
        {% else %}
          <span class="c-sidemenu__link trigger-sidemenu-secondary" aria-label="{{ link.title}} Dropdown" data-index="{{ forloop.index0 }}">
            {{ link.title }}
            <span class="c-sidemenu__linkIcon">
              {% include 'icon-chevron' %}
            </span>
          </span>
          <ul class="c-sidemenu__list c-sidemenu__secondary">
            <li class="c-sidemenu__item">
              <a class="c-sidemenu__link c-sidemenu__back trigger-sidemenu-secondary" data-index="{{ forloop.index0 }}">
                <span class="c-sidemenu__linkIcon c-sidemenu__backIcon">
                  {% include 'icon-chevron' %}
                </span>
                {{ section.settings.back_text }}
              </a>
            </li>
            {% for link in link.links %}
              <li class="c-sidemenu__item">
                <a class="c-sidemenu__link" href="{{ link.url }}">
                  {{ link.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
          {% endif %}
      </li>
    {% endfor %}
    {% if section.settings.show_message %}
      <li class="c-sidemenu__shipping">
        {{ section.settings.message }}
      </li>
    {% endif %}
    <li class="c-sidemenu__account">
       {% for nav in linklists[section.settings.account_nav].links %}
          {% if customer and nav.title == 'User' %}
            {% assign account_nav = nav %}
          {% else %}
            {% assign account_nav = nav %}
          {% endif %}
        {% endfor %}
        {% for link in account_nav.links %}
           <a class="c-sidemenu__accountLink" href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
        {% endfor %}
    </li>
  </ul>
</nav>

{{ 'sidemenu.js' | asset_url | script_tag }}

{% schema %}
{
	"name": "Sidemenu",
	"settings": [
    {
      "type": "header",
      "content": "Sidemenu"
    },
    {
      "type": "text",
      "id": "search_text",
      "label": "Search Placeholder",
      "default": "Search..."
    },
    {
      "type": "link_list",
      "id": "main_nav",
      "label": "Main Navigation"
    },
    {
      "type": "text",
      "id": "back_text",
      "label": "Back Link Text",
      "default": "back"
    },
    {
      "type": "checkbox",
      "id": "show_message",
      "label": "Show Message",
      "default": true
    },
    {
      "type": "text",
      "id": "message",
      "label": "Message",
      "default": "Free shipping on orders over $100"
    },
    {
      "type": "link_list",
      "id": "account_nav",
      "label": "Account Navigation"
    }
  ]
}
{% endschema %}