<div id="navbar" class="c-navbar c-navbar--collection">
  <div class="c-navbar__container o-container--large">
    <span class="c-navbar__select">
      <select id="navbar-filter" class="c-navbar__selectInner">
        {% if nav_default %}
          <option value="false">{{ nav_default | replace: "-", " " }}</option>
        {% endif %}
        {% for link in nav_tags %}
          <option value="{{ link }}">{{ link | replace: "-", " " }}</option>
        {% endfor %}
      </select>
      <span id="navbar-filter-label" class="c-navbar__selectLabel">
        {{ nav_default | replace: "-", " " }}
      </span>
    </span>
    <span class="c-navbar__select">
      <select id="navbar-sort" class="c-navbar__selectInner">
        <option value="false">Featured</option>
        <option value="new-arrivals">New Arrivals</option>
        <option value="most-popular">Most Popular</option>
        <option value="price-ascending">Price: Low-High</option>
        <option value="price-descending">Price: High-Low</option>
      </select>
      <span id="navbar-sort-label" class="c-navbar__selectLabel">
        Featured
      </span>
    </span>
  </div>
</div>

<script src="{{ 'block-navbar-collection.js' | asset_url }}" defer="defer"></script>