
{% for address in customer.addresses %}
  <div class="c-formAddress u-hidden" id="editAddress_{{ address.id }}">
    <h2 class="c-formAddress__heading">
      {{ content.form_edit_header }}
    </h2>
    {% form 'customer_address', address %}
      {{ form.errors | default_errors }}
      <div class="c-form__fieldset">
        <input class="c-form__field" required pattern=".*\S+.*" title="{{ content.form_first_name }} (required)" type="text" name="address[first_name]" value="{{ form.first_name }}" placeholder="{{ content.form_first_name }}*" autocapitalize="words">
        <input class="c-form__field" required pattern=".*\S+.*" title="{{ content.form_last_name }} (required)" type="text" name="address[last_name]" value="{{ form.last_name }}" placeholder="{{ content.form_last_name }}*" autocapitalize="words">
      </div>
      <input class="c-form__field" type="text" name="address[company]" value="{{ form.company }}" placeholder="{{ content.form_company }}" autocapitalize="words">
      <input class="c-form__field" required pattern=".*\S+.*" title="Address Line 1 (required)" type="text" name="address[address1]" value="{{ form.address1 }}" placeholder="{{ content.form_address1 }}*" autocapitalize="words" />
      <input class="c-form__field" title="Address Line 2" type="text" name="address[address2]" value="{{ form.address2 }}" placeholder="{{ content.form_address2 }}" autocapitalize="words" />
      <div class="c-form__fieldset">
        <input class="c-form__field" required pattern=".*\S+.*" title="{{ content.form_city }} (required)" type="text" name="address[city]" value="{{ form.city }}" placeholder="{{ content.form_city }}*" autocapitalize="words" />
        <div class="c-form__field c-form__select">
          <select class="c-form__selectInner data-countries" title="{{ content.form_country }}" name="address[country]" data-default="United States">{{ country_option_tags }}</select>
        </div>
      </div>
      <div class="c-form__fieldset">
        <div class="c-form__field c-form__select">
          <select class="c-form__selectInner data-provinces" title="{{ content.form_province }}" name="address[province]" data-default="{{ form.province }}"></select>
        </div>
        <input class="c-form__field" required pattern="[0-9]{5}" title="{{ content.form_zip }} (required)" type="text" name="address[zip]" value="{{ form.zip }}" placeholder="{{ content.form_zip }}*" />
      </div>
      <input class="c-form__field" pattern="^(1\s?)?((\([0-9]{3}\))|[0-9]{3})[\s\-]?[\0-9]{3}[\s\-]?[0-9]{4}" title="{{ content.form_phone }}" type="tel" name="address[phone]" value="{{ form.phone }}" placeholder="{{ content.form_phone }}" />
      <div class="c-form__field c-form__checkbox">
        {{ form.set_as_default_checkbox }}
        <label class="c-form__label">{{ content.form_default }}</label>
      </div>
      <div class="c-form__buttons">
        <button class="c-form__button c-button-large c-button--submit trigger-loading" data-heading="{{ content.form_updating }}" type="submit">{{ content.form_save }}</button>
        <button class="c-form__button c-button-large c-button--cancel trigger-modal" type="button">{{ content.form_cancel }}</button>
      </div>
      {% if address != customer.default_address %}
        <div class="c-formAddress__delete">
          <button class="c-formAddress__deleteButton trigger-modal" type="button" data-modal-content-id="deleteAddress_{{ address.id }}">
            <i class="c-formAddress__deleteIcon far fa-trash-alt"></i>
            {{ content.form_delete }}
          </button>
        </div>
      {% endif %}
    {% endform %}
  </div>
{% endfor %}