{% layout 'paws' %}
<div class="c-404">
  <div class="c-404__top">
    <div class="c-404__left">
      <h1 class="c-404__leftHeading">
        404
      </h1>
    </div>
    <div class="c-404__right">
      <h3 class="c-404__rightHeading">
        Whoops!
      </h3>
      <p class="c-404__rightText">
        The page you're looking for was not found.
      </p>
    </div>
  </div>
  <div class="c-404__bottom">
    <h4 class="c-404__bottomHeading">
      Here are some links to get you back on track!
    </h4>
    <nav role="navigation" aria-label="404 Navigation" class="c-404__nav c-footerTop__nav">
      {% for link in linklists.footer-menu.links %}
        <div class="c-404__navGroup c-footerTop__group">
          <h4 class="c-404__navHeading c-footerTop__heading">
            {{ link.title }}
          </h4>
          <ul class="c-404__navList c-footerTop__list">
            {% for link in link.links %}
              <li class="c-404__navItem c-footerTop__item">
                <a class="c-404__navLink c-footerTop__link" href="{{ link.url }}" title="{{ link.title }}"">
                  {{ link.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
      <div class="c-404__navGroup c-footerTop__group c-footerTop__group--social">
        <h4 class="c-404__navHeading c-footerTop__heading">
          Community
        </h4>
        <ul class="c-404__navSocialList c-footerTop__socialList">
          {% assign socialIcons = 'facebook-f,twitter,instagram' | split:',' %}
          {% for link in linklists.social-menu.links %}
            <li class="c-404__navSocialItem c-footerTop__socialItem">
              <a class="c-404__navSocialLink c-footerTop__socialLink" href= "{{ link.url }}" target="_blank">
                <i class="c-404__navSocialIcon c-footerTop__socialIcon c-footerTop__socialIcon--{{ link.title | downcase }} fab fa-{{ socialIcons[forloop.index0] }}"></i>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </nav>
  </div>
</div>