<nav id="sidemenu" class="c-sidemenu">
  <div class="c-sidemenu__inner">
    <form class="c-sidemenu__search" action="search" autocomplete="off">
      <span class="c-sidemenu__searchIcon">
        {% include 'icon-search' %}
      </span>
      <input class="c-sidemenu__searchInput" type="text" placeholder="Search..." name="q" />
    </form>
    <ul class="c-sidemenu__list c-sidemenu__primary">
      {% for link in linklists.mobile-menu.links %}
        <li class="c-sidemenu__item">
          {% if link.links.size <= 0 %}
            <a class="c-sidemenu__link" href="{{ link.url }}">
              {{ link.title }}
            </a>
          {% else %}
            <a class="c-sidemenu__link" data-action="open-sidemenu-secondary">
              {{ link.title }}
              <span class="c-sidemenu__linkIcon">
                {% include 'icon-chevron' %}
              </span>
            </a>
            <ul class="c-sidemenu__list c-sidemenu__secondary">
              <li class="c-sidemenu__item">
                <a class="c-sidemenu__back" data-action="close-sidemenu-secondary">
                  <span class="c-sidemenu__backIcon">
                    {% include 'icon-chevron' %}
                  </span>
                  Back
                </a>
              </li>
              {% for link in link.links %}
                <li class="c-sidemenu__item">
                  <a class="c-sidemenu__link" href="{{ link.url }}">
                    {{ link.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
            {% endif %}
        </li>
      {% endfor %}
      <li class="c-sidemenu__shipping">
        Free Shipping On Orders Over $100
      </li>
    </ul>
</nav>

<script>
window.addEventListener("resize", () => {
  if(window.innerWidth > 767) {
    const sidemenu = document.getElementById("sidemenu");
    if(sidemenu.classList.contains("c-sidemenu--open")) {
      document.getElementById("trigger-sidemenu").click();
    }
  }
});
</script>