<div class="c-productForm is-loading">
  {% if product.vendor and settings.show_vendor %}
    <span class="c-productForm__vendor">
      {{ product.vendor }}
    </span>
  {% endif %}
  <h1 class="c-productForm__title">
    {{ product.title }}
  </h1>
  {% if tagline %}
    <span class="c-productForm__tagline">
      {{ tagline }}
    </span>
  {% endif %}
  {% include "part-loading-dots" with count: 4 %}
  <vue-product-form
    product="{{ product | json | escape }}"
    class_name="c-productForm"
    quantity_label="{{ settings.quantity_label }}"
    button_active_text="{{ settings.button_active_text }}"
    button_disabled_text="{{ settings.button_disabled_text }}"
  >
  </vue-product-form>
</div>

<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>