<footer id="footer" class="c-footer" aria-label="Footer">
  <div class="c-footerTop">
    <div class="c-footerTop__wrapper o-container--large">
      <nav role="navigation" aria-label="Footer Navigation" class="c-footerTop__nav">
        {% for link in linklists.footer-menu.links %}
          <div class="c-footerTop__group">
            <h4 class="c-footerTop__heading">
              {{ link.title }}
            </h4>
            <ul class="c-footerTop__list">
              {% for link in link.links %}
                <li class="c-footerTop__item">
                  <a class="c-footerTop__link" href="{{ link.url }}" title="{{ link.title }}"">
                    {{ link.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
        <div class="c-footerTop__group c-footerTop__group--social">
          <h4 class="c-footerTop__heading">
            Community
          </h4>
          <ul class="c-footerTop__socialList">
            {% assign socialIcons = 'facebook-f,twitter,instagram' | split:',' %}
            {% for link in linklists.social-menu.links %}
              <li class="c-footerTop__socialItem">
                <a class="c-footerTop__socialLink" href= "{{ link.url }}" target="_blank">
                  <i class="c-footerTop__socialIcon c-footerTop__socialIcon--{{ link.title | downcase }} fab fa-{{ socialIcons[forloop.index0] }}"></i>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </nav>
      <div class="c-footerTop__legal">
        Looking for an assistance dog? &nbsp; 
        <br class="c-footerTop__legalBreak" /> 
        Check out our friends 
        <a class="c-footerTop__legalLink" href="https://pawswithacause.org" target="_blank">
          Paws With A Cause
        </a>
      </div>
      <div class="c-footerTop__legal">
        © 2019 Paws For A Cause
        <br class="c-footerTop__legalBreak" />
        <ul class="c-footerTop__legalList">
          {% for link in linklists.legal-menu.links %}
            <li clas="c-footerTop__legalItem">
              <span class="c-footerTop__legalPipe c-footerTop__legalPipe--{{ forloop.index0 }}">&nbsp;|&nbsp;</span>
              <a class="c-footerTop__legalLink" href="{{ link.url }}" title="{{ link.title }}">
                {{ link.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="c-footerBottom">
    <a class="c-footerBottom__logo" href="/">
      <img class="c-footerBottom__logoIcon" src="{{ 'logo-white.svg' | asset_url }}"  alt="{{ shop.name }}" />
    </a>
  </div>
</footer>