<div class="c-footerMain">
    <div class="c-footerMain__inner">
      <div class="c-footerMain__top">
        <nav class="c-footerMain__navGroup c-footerMain__navGroup--social">
          <a class="c-footerMain__logo" href="/">
            <img class="c-footerMain__logoIcon" src="{{ 'logo.svg' | asset_url }}"  alt="{{ shop.name }}" />
          </a>
          <nav class="c-footerMain__social">
            {% assign socialIcons = 'facebook-f,twitter,instagram' | split:',' %}
            {% for link in linklists.social-menu.links %}
              <a class="c-footerMain__socialLink" href= "{{ link.url }}" target="_blank">
                <i class="c-footerMain__socialIcon c-footerMain__socialIcon--{{ link.title | downcase }} fab fa-{{ socialIcons[forloop.index0] }}"></i>
              </a>
            {% endfor %}
          </nav>
        </nav>
        </a>
        {% for link in linklists.footer-menu.links %}
          <nav class="c-footerMain__navGroup">
            <a class="c-footerMain__navHeading" href="{{ link.url }}">{{ link.title }}</a>
            {% for link in link.links %}
              <a class="c-footerMain__navLink" href="{{ link.url }}">{{ link.title }}</a>
            {% endfor %}
          </nav>
        {% endfor %}
      </div>
      <div class="c-footerMain__bottom">
        <div class="c-footerMain__paws">
          <h5 class="c-footerMain__pawsHeading">
            Looking For An Assistance Dog?
          </h5>
          <span class="c-footerMain__pawsText">
            Check out our friends
            <a class="c-footerMain__pawsLink" href="https://pawswithacause.org" target="_blank">
              <img class="c-footerMain__pawsLogo" src="{{ 'logo-pwac.png' | asset_url }}"  alt="Paws With A Cause Assistance Dogs"/>
            </a>
          </span>
        </div>
        {% unless shop.enabled_payment_types == empty %}
          <div class="c-footerMain__payment">
            <h5 class="c-footerMain__paymentHeading">
              Secure Payments by
              <img class="c-footerMain__paymentShopify" src="{{ 'logo-shopify.png' | asset_url }}"  alt="{{ shop.name }} Shopify"/>
            </h5>
            <ul class="c-footerMain__paymentList">
              {% for type in shop.enabled_payment_types %}
                <li class="c-footerMain__paymentItem">
                  <img class="c-footerMain__paymentIcon" src="{{ type | payment_type_img_url }}" />
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endunless %}
      </div>
    </div>
  </div>