<header id="header" class="c-header" aria-label="Header">
  <div id="headerBar" class="c-headerBar">
    <div class="headerBar__wrapper o-container--large">
      <i class="c-headerBar__icon fas fa-heart"></i>
      100% profits to shelters
      <i class="c-headerBar__icon fas fa-heart"></i>
    </div>
  </div>
  <div id="headerTop" class="c-headerTop">
    <div class="c-headerTop__wrapper o-container--large">
      <button class="c-headerTop__menu trigger-sidemenu" aria-label="Toggle Menu">
        <span class="c-headerTop__burger trigger-sidemenu-icon">
          {% include 'icon-burger' %}
        </span>
        <span class="c-headerTop__close trigger-sidemenu-icon u-hidden">
          {% include 'icon-close' %}
        </span>
      </button>
      <a class="c-headerTop__logo" href="/" title="Home">
        <img class="c-headerTop__logoIcon" src="{{ 'logo.svg' | asset_url }}"  alt="{{ shop.name }}" />
      </a>
      <button class="c-headerTop__cart trigger-cart" aria-label="Toggle Cart">
        {% include 'icon-cart' %}
        <span class="c-headerTop__cartCount vue-cart-count">
          {{ cart.item_count }}
        </span>
      </button>
    </div>
  </div>
  <div id="headerBottom" class="c-headerBottom">
    <div class="headerBottom__wrapper o-container--large">
      <nav class="c-headerBottom__nav" role="navigation" aria-label="Main Navigation">
        <div class="c-headerBottom__account trigger-menu-account">
          <button class="c-headerBottom__burger" aria-label="Toggle Menu">
            {% include 'icon-burger' %}
          </button>
          <ul class="c-headerBottom__drop" id="menu-account">
            {% if customer %}
              <li class="c-headerBottom__dropItem">
                <a class="c-headerBottom__dropLink" href="/account" title="Account">
                  Account
                </a>
              </li>
              <li class="c-headerBottom__dropItem">
                <a class="c-headerBottom__dropLink" href="/account/logout" title="Logout">
                  Logout
                </a>
              </li>
            {% else %}
              <li class="c-headerBottom__dropItem">
                <a class="c-headerBottom__dropLink" href="/account/login" title="Login">
                  Sign In
                </a>
              </li>
              <li class="c-headerBottom__dropItem">
                <a class="c-headerBottom__dropLink" href="/account/register" title="Register">
                  Create Account
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
        <ul class="c-headerBottom__list">
          {% for link in linklists.main-menu-dev.links %}
            <li class="c-headerBottom__item">
              {% if link.links.size <= 0 %}
                <a class="c-headerBottom__link" href="{{ link.url }}" title="{{ link.title }}">
                  {{ link.title }}
                </a>
              {% else %}
                <span class="c-headerBottom__link" aria-label="{{ link.title }} Dropdown">
                  {{ link.title }}
                </span>
                <ul class="c-headerBottom__drop">
                  {% for link in link.links %}
                    <li class="c-headerBottom__dropItem">
                      <a class="c-headerBottom__dropLink" href="{{ link.url }}" title="{{ link.title }}">
                        {{ link.title }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
        <a class="c-headerBottom__cart trigger-cart">
          {% include 'icon-cart' %}
          <span class="c-headerBottom__cartCount vue-cart-count">
            {{ cart.item_count }}
          </span>
        </a>
      </nav>
    </div>
  </div>
</header>

{{ 'header.js' | asset_url | script_tag }}