{% include "block-hero" with hero_large: section.settings.hero_large, hero_small: section.settings.hero_small %}
{% include "block-navbar" with nav_title: section.settings.nav_title %}
<div id="who-we-are" class="c-whoWeAre">
  <div class="c-mantra o-strip u-bgGray">
    <div class="c-mantra__container o-container">
      <div class="c-mantra__narrow u-textNarrow">
        <span class="c-mantra__preheading c-preheading">{{ section.settings.mantra_preheading }}</span>
        <h1 class="c-mantra__heading">{{ section.settings.mantra_heading }}</h1>
        <p class="c-mantra__text">{{ section.settings.mantra_text }}</p>
      </div>
    </div>
  </div>
  <div class="c-problems o-strip">
    <div class="c-problems__container o-container">
      <h2 class="c-problems__heading">{{ section.settings.problems_heading }}</h2>
      {% assign problems_html = '' %}
      {% assign problems_loop = 0 %}
      {% for block in section.blocks %}
        {% if block.type == "problem" %}
          {% assign problems_loop = problems_loop | plus: 1 %}
          {% capture block_html %}
            {% unless problems_loop == 1 %}::::{% endunless %}
            <div class="c-problems__item o-flexColumn">
              <span class="c-problems__itemCount o-flexColumn">{{ problems_loop }}</span>
              <h4 class="c-problems__itemHeading">{{ block.settings.heading }}</h4>
              <p class="c-problems__itemText">{{ block.settings.text }}</p>
            </div>
          {% endcapture %}
          {% assign problems_html = problems_html | append: block_html %}
        {% endif %}
      {% endfor %}
      {% assign problems_items = problems_html | split: "::::" %}
      {% include "block-carousel", with items: problems_items %}
    </div>
  </div>
  <div class="c-mission o-strip" style="background-image:url({{ 'background-paw-hand.jpg' | asset_url }});">
    <div class="c-mission__container o-container">
      <div class="c-mission__narrow u-textNarrow">
        <span class="c-mission__preheading c-preheading">{{ section.settings.mission_preheading }}</span>
        <h1 class="c-mission__heading">{{ section.settings.mission_heading }}</h1>
        <p class="c-mission__text">{{ section.settings.mission_text }}</p>
      </div>
    </div>
  </div>
  <div class="c-story o-strip u-bgGray">
    <div class="c-story__container o-container">
      <div class="c-story__narrow u-textNarrow">
        <span class="c-story__preheading c-preheading">{{ section.settings.story_preheading }}</span>
        <h1 class="c-story__heading">{{ section.settings.story_heading }}</h1>
      </div>
      <div class="c-story__flex o-flexFlip">
        <img class="c-story__image lazyload u-hideTablet"
          src="{{ section.settings.story_image_small.src | img_url: 'x300' }}"
          data-src="{{ section.settings.story_image_small.src | img_url: 'master' }}" 
          alt="{{ section.settings.story_image_small.alt }}" 
        />
         <img class="c-story__image lazyload u-showTablet"
          src="{{ section.settings.story_image_large.src | img_url: 'x300' }}"
          data-src="{{ section.settings.story_image_large.src | img_url: 'master' }}" 
          alt="{{ section.settings.story_image_large.alt }}" 
        />
        <div class="c-story__details">
          <p class="c-story__quote">"{{ section.settings.story_quote }}"</p>
          <span class="c-story__author">{{ section.settings.story_author }}</span>
          <span class="c-story__bio">{{ section.settings.story_bio }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="c-support o-strip">
    <div class="c-support__container o-container">
      <div class="c-support__narrow u-textNarrow">
        <h1 class="c-support__heading">{{ section.settings.support_heading }}</h1>
        <p class="c-support__text">{{ section.settings.support_text }}</p>
      </div>
    </div>
    <div class="c-support__container o-container">
      <hr class="c-support__break" />
      {% assign support_html = '' %}
      {% assign support_loop = 0 %}
      {% for block in section.blocks %}
        {% if block.type == "support" %}
          {% assign support_loop = support_loop | plus: 1 %}
          {% capture block_html %}
            {% unless support_loop == 1 %}::::{% endunless %}
            <a class="c-support__item o-flexColumn" href="{{ block.settings.url }}" draggable="false">
              <h4 class="c-support__itemHeading">{{ block.settings.heading }}</h4>
              <p class="c-support__itemText">{{ block.settings.text }}</p>
              <span class="c-support__itemButton o-flexColumn">
                <i class="c-support__itemArrow fas fa-chevron-right"></i>
              </span>
            </a>
          {% endcapture %}
          {% assign support_html = support_html | append: block_html %}
        {% endif %}
      {% endfor %}
      {% assign support_items = support_html | split: "::::" %}
      {% include "block-carousel", with items: support_items %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Page",
  "settings": [
    {
      "type": "header",
      "content": "Hero"
    },
    {
      "type": "image_picker",
      "id": "hero_large",
      "label": "Hero Image Large"
    },
    {
      "type": "image_picker",
      "id": "hero_small",
      "label": "Hero Image Small"
    },
    {
      "type": "header",
      "content": "Page Navigation"
    },
    {
      "type": "text",
      "id": "nav_title",
      "label": "Navigation Title",
      "info": "Must Match Page Navigation Level 1",
      "default": "About Us"
    },
    {
      "type": "header",
      "content": "Mantra Section"
    },
    {
      "type": "text",
      "id": "mantra_preheading",
      "label": "Mantra Preheading",
      "default": "Our Mantra"
    },
    {
      "type": "html",
      "id": "mantra_heading",
      "label": "Mantra Heading",
      "default": "Every Dog Deserves To Be <span class='u-colorPrimary'>Happy</span> & <span class='u-colorPrimary'>Healthy</span>"
    },
    {
      "type": "text",
      "id": "mantra_text",
      "label": "Mantra Text",
      "default": "From the pups we spoil at home, to the rescues waiting in shelters, we want every dog living their best life. Sadly millions of dogs never get that oportunity. We founded Paws For A Cause to change that."
    },
    {
      "type": "header",
      "content": "Problems Section"
    },
    {
      "type": "text",
      "id": "problems_heading",
      "label": "Problems Heading",
      "default": "The Problems"
    },
    {
      "type": "header",
      "content": "Mission Section"
    },
    {
      "type": "text",
      "id": "mission_preheading",
      "label": "Mission Preheading",
      "default": "Our Mission"
    },
    {
      "type": "text",
      "id": "mission_heading",
      "label": "Mission Heading",
      "default": "Help Every Dog Live Their Best Life"
    },
    {
      "type": "text",
      "id": "mission_text",
      "label": "Mission Text",
      "default": "We’re committed to using all our profits to fund responsible dog shelters, promote the adoption of rescue dogs, and raise awareness for the causes and solutions to dog homelessness and suffering."
    },
    {
      "type": "header",
      "content": "Story Section"
    },
    {
      "type": "text",
      "id": "story_preheading",
      "label": "Story Preheading",
      "default": "Our Story"
    },
    {
      "type": "text",
      "id": "story_heading",
      "label": "Story Heading",
      "default": "It All Started With A Dog & His Human"
    },
    {
      "type": "image_picker",
      "id": "story_image_large",
      "label": "Story Image Large"
    },
    {
      "type": "image_picker",
      "id": "story_image_small",
      "label": "Story Image Small"
    },
    {
      "type": "html",
      "id": "story_quote",
      "label": "Story Quote",
      "default": "The moment Mulligan entered my life, everything changed.  Bad days became goods days, and good days became great days.  No matter where I’m going or what I’m doing, he’s always right there by my side.<span class='c-story__quoteBreak'></span>But this is what dogs do.  They support us when we need them.  And we owe it to them to return the favor."
    },
    {
      "type": "text",
      "id": "story_author",
      "label": "Story Author",
      "default": "Alex & Mulligan"
    },
    {
      "type": "text",
      "id": "story_bio",
      "label": "Story Bio",
      "default": "Founders of Paws For A Cause"
    },
    {
      "type": "header",
      "content": "Support Section"
    },
    {
      "type": "text",
      "id": "support_heading",
      "label": "Support Heading",
      "default": "We Need Your Support"
    },
    {
      "type": "text",
      "id": "support_text",
      "label": "Support Text",
      "default": "Saving rescue dogs is no small task. We need the support of dog lovers everywhere to grow the cause. Want to make a difference? Here are three ways you can help rescue dogs right now!"
    }
  ],
  "blocks": [
    {
      "type": "problem",
      "name": "Problem",
      "settings": [
        {
          "id": "heading",
          "type": "text",
          "label": "Problem Heading"
        },
        {
          "id": "text",
          "type": "text",
          "label": "Problem Text"
        }
      ]
    },
    {
      "type": "support",
      "name": "Support",
      "settings": [
        {
          "id": "heading",
          "type": "text",
          "label": "Support Heading"
        },
        {
          "id": "text",
          "type": "text",
          "label": "Support Text"
        },
        {
          "id": "url",
          "type": "url",
          "label": "Support Url"
        }
      ]
    }
  ]
}
{% endschema %}