{% assign content = section.settings %}

{% include "block-hero" with hero_large: content.hero_large, hero_small: content.hero_small %}
{% include "block-navbar" with nav_title: content.nav_title %}
<div id="contact-us" class="c-contactUs">
  <div class="c-help o-strip u-bgGray">
    <div class="c-help__container o-container">
      <div class="c-help__narrow u-textNarrow">
        <h1 class="c-help__heading">{{ content.help_heading }}</h1>
        <p class="c-help__text">{{ content.help_text }}</p>
      </div>
    </div>
  </div>
  <div class="c-reach o-strip">
    <div class="c-reach__container o-container">
      <h2 class="c-reach__heading">{{ content.reach_heading }}</h2>
      {% assign reach_html = '' %}
      {% assign reach_loop = 0 %}
      {% for block in section.blocks %}
        {% if block.type == "reach" %}
          {% assign reach_loop = reach_loop | plus: 1 %}
          {% capture block_html %}
            {% unless reach_loop == 1 %}::::{% endunless %}
            <div class="c-reach__item o-flexColumn">
              <i class="c-reach__itemIcon {{ block.settings.icon }}"></i>
              <h4 class="c-reach__itemHeading">{{ block.settings.heading }}</h4>
              <p class="c-reach__itemText">{{ block.settings.text }}</p>
              <a class="c-reach__itemButton c-button-small c-button--submit" target="_blank" href="{{ block.settings.url }}">
                {{ block.settings.button }}
              </a>
            </div>
          {% endcapture %}
          {% assign reach_html = reach_html | append: block_html %}
        {% endif %}
      {% endfor %}
      {% assign reach_items = reach_html | split: "::::" %}
      {% include "block-carousel", with items: reach_items %}
    </div>
  </div>
  <div class="c-assistance o-strip" style="background-image:url({{ 'background-paw-hand.jpg' | asset_url }});">
    <div class="c-assistance__container o-container">
      <div class="c-assistance__narrow u-textNarrow">
        <h1 class="c-assistance__heading">{{ content.assistance_heading }}</h1>
        <p class="c-assistance__text">{{ content.assistance_text }}</p>
        <a class="c-assistance__button c-button" target="_blank" href="{{ content.assistance_url }}">
          {{ content.assistance_button }}
        </a>
      </div>
    </div>
  </div>
  <div class="c-instagram o-strip u-bgGray">
    <div class="c-instagram__container o-container">
      <div class="c-instagram__narrow u-textNarrow">
        <h1 class="c-instagram__heading">{{ content.instagram_heading }}</h1>
        <p class="c-instagram__text">{{ content.instagram_text }}</p>
      </div>
    </div>
    <div class="c-instagram__feed o-container--large o-flexColumn">
      <div class="c-gallery">
        {% for block in section.blocks %}
          {% if block.type == "instagram" %}
            <div class="c-gallery__item">
              <a class="c-instragram__link" href="{{ settings.account_instagram }}" target="_blank">
                <img 
                  class="c-instagram__image lazyload"
                  src="{{ block.settings.image.src | img_url: 'x300' }}"
                  data-src="{{ block.settings.image.src | img_url: 'master' }}" 
                  alt="{{ shop.name }} Instagram"
                />
                <span class="c-instagram__hover o-flexColumn">
                  <i class="fab fa-instagram"></i>
                </span>
              </a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <a class="c-instagram__button c-button c-button--primary" href="{{ settings.account_instagram }}" target="_blank">
        {{ content.instagram_button }}
      </a>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Content",
  "settings": [
    {
      "type": "header",
      "content": "Hero"
    },
    {
      "type": "image_picker",
      "id": "hero_large",
      "label": "Hero Image Large"
    },
    {
      "type": "image_picker",
      "id": "hero_small",
      "label": "Hero Image Small"
    },
    {
      "type": "header",
      "content": "Page Navigation"
    },
    {
      "type": "text",
      "id": "nav_title",
      "label": "Navigation Title",
      "info": "Must Match Page Navigation Level 1",
      "default": "Customer Service"
    },
    {
      "type": "header",
      "content": "Help Section"
    },
    {
      "type": "text",
      "id": "help_heading",
      "label": "Help Heading",
      "default": "How Can We Help You Today?"
    },
    {
      "type": "text",
      "id": "help_text",
      "label": "Help Text",
      "default": "Got a question, idea, or just want to chat?  Awesome.  We love connecting with other dog lovers.  Give us a bark and we’ll get back to you soon."
    },
    {
      "type": "header",
      "content": "Reach Section"
    },
    {
      "type": "text",
      "id": "reach_heading",
      "label": "Reach Heading",
      "default": "How To Reach Us"
    },
    {
      "type": "header",
      "content": "Assistance Section"
    },
    {
      "type": "text",
      "id": "assistance_heading",
      "label": "Assistance Heading",
      "default": "Looking For An Assistance Dog?"
    },
    {
      "type": "text",
      "id": "assistance_text",
      "label": "Assistance Text",
      "default": "Check out our friends at Paws With A Cause, who enhance the independence and quality of life for people with disabilities nationally through custom-trained Assistance Dogs."
    },
    {
      "type": "text",
      "id": "assistance_button",
      "label": "Assistance Button",
      "default": "Paws With A Cause"
    },
    {
      "type": "url",
      "id": "assistance_url",
      "label": "Assistance Url"
    },
    {
      "type": "header",
      "content": "Instagram Section"
    },
    {
      "type": "text",
      "id": "instagram_heading",
      "label": "Instagram Heading",
      "default": "Want to join the community?"
    },
    {
      "type": "html",
      "id": "instagram_text",
      "label": "Instagram Text",
      "default": "Follow us on Instagram for the inside scoop, tag us <span><i class='fas fa-at'></i>pawsforacause</span> for a chance to be featured, or shoot us a direct message to collaborate!"
    },
    {
      "type": "text",
      "id": "instagram_button",
      "label": "Instagram Button",
      "default": "View More"
    }
  ],
  "blocks": [
    {
      "type": "reach",
      "name": "Reach",
      "settings": [
        {
          "id": "icon",
          "type": "text",
          "label": "Reach Icon",
          "info": "Font Awesome Class"
        },
        {
          "id": "heading",
          "type": "text",
          "label": "Reach Heading"
        },
        {
          "id": "text",
          "type": "text",
          "label": "Reach Text"
        },
        {
          "id": "button",
          "type": "text",
          "label": "Reach Button"
        },
        {
          "id": "url",
          "type": "url",
          "label": "Reach Url"
        }
      ]
    },
    {
      "type": "instagram",
      "name": "Instagram",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Instagram Image"
        }
      ]
    }
  ]
}
{% endschema %}