<section class="c-productMain o-strip u-bg-gray">
  <div class="c-productMain__container o-container o-flexFlip">
    {% if section.settings.show_breadcrumbs %}
      {% include 'breadcrumbs' %}
    {% endif %}
    <div class="c-productMain__carouselWrapper u-hideTablet u-hidden ">
      <div class="c-productMain__carousel c-carousel">
        {% for image in product.images %}
          <img class="c-productMain__carouselSlide c-carousel__slide" src="{{ image.src | img_url: '1024x1024' }}" alt="{{ image.alt | escape }}" />
        {% endfor %}
      </div>
      <div class="c-productMain__carouselDots c-carousel__dots">
        {% for image in product.images %}
          <span class="c-productMain__carouselDot c-carousel__dot"></span>
        {% endfor %}
      </div>
    </div>
    <div class="c-productMain__slideshowWrapper o-flexItem-50 o-flexColumn u-showTablet u-hidden">
      <div class="c-productMain__slideshow c-slideshow">
        {% for image in product.images %}
          <img class="c-productMain__slideshowSlide c-slideshow__slide" src="{{ image.src | img_url: '1024x1024' }}" alt="{{ image.alt | escape }}" />
        {% endfor %}
      </div>
      <div class="c-productMain__slideshowThumbnails c-slideshow__thumbnails">
        {% for image in product.images %}
          <img class="c-productMain__slideshowThumbnail c-slideshow__thumbnail" src="{{ image.src | img_url: 'compact' }}" data-url="{{ image.src | img_url: '1024x1024' }}" alt="{{ image.alt | escape }}" />
        {% endfor %}
      </div>
    </div>
    <div class="c-productMain__side o-flexItem-50 o-flexColumn">
      {% if product.vendor and section.settings.show_vendor %}
        <h5 class="c-productMain__vendor">{{ product.vendor }}</h5>
      {% endif %}
      <h1 class="c-productMain__title">{{ product.title }}</h1>
      <span class="c-productMain__tagline">
        Made with <i class="c-productMain__taglineHeart fas fa-heart"></i> by Paws For A Cause
      </span>
      <vue-product-select
        product='{{ product | json | escape }}'
        quantity_label="{{ section.settings.quantity_label }}"
        button_text="{{ section.settings.button_text }}"
        sold_out_text="{{ section.settings.sold_out_text }}"
        class_prefix="c-productMain"
      ></vue-product-select>
    </div>
  </div>
</section>

{% schema %}
{
	"name": "Product Main",
	"settings": [
    {
      "type": "header",
      "content": "Product Main"
    },
		{
			"id": "show_breadcrumbs",
			"type": "checkbox",
			"label": "Show Breadcrumbs"
		},
		{
			"id": "show_vendor",
			"type": "checkbox",
			"label": "Show Vendor"
		},
    {
      "id": "quantity_label",
      "type": "text",
      "label": "Quantity Label",
      "default": "Quantity"
    },
    {
      "id": "button_text",
      "type": "text",
      "label": "Add To Cart",
      "default": "Add To Cart"
    },
     {
      "id": "sold_out_text",
      "type": "text",
      "label": "Sold Out",
      "default": "Sold Out"
    },
    {
			"id": "show_social",
			"type": "checkbox",
			"label": "Show Social"
		}
  ]
}
{% endschema %}