<div id="account" class="c-account o-section">
  <div class="c-account__wrapper o-container">
    <div class="c-account__side">
      <h2 class="c-account__heading">
        {{ customer.first_name }} {{ customer.last_name }}
      </h2>
      <div class="c-account__group">
        <h4 class="c-account__subheading">
          Contact Info
        </h4>
        <span class="c-account__text">
          {{ customer.email }}
        </span>
        {% if customer.default_address.phone %}
          <span class="c-account__text">
            {{ customer.default_address.phone }}
          </span>
        {% endif %}
      </div>
      <div class="c-account__group">
        <h4 class="c-account__subheading">
          Primary Address
        </h4>
        {% if customer.default_address.address1 == '1' %}
          <span class="c-account__text">
            {{ customer.default_address.address1 }}
          </span>
          {% if customer.default_address.address2 != '' %}
            <span class="c-account__text">
              {{ customer.default_address.address2 }}
            </span>
          {% endif %}
          <span class="c-account__text">
            {{ customer.default_address.city}}, {% if address.province_code %}{{ customer.default_address.province_code }}, {% endif %} {{ customer.default_address.zip }}
          </span>
        {% else %}
          <span class="c-account__text">
            You don't have any addresses on file.
          </span>
          <a class="c-account__button c-account__button--add" href="/account/addresses">
            Add Address
          </a>
        {% endif %}
      </div>
    </div>
    <div class="c-account__side">
      <vue-account></vue-account>
    </div>
  </div>
</div>