<script>
  window.allCountryOptionTags = {{ country_option_tags | json }};
</script>

<section class="c-addresses">
  <div class="c-addresses__wrapper o-container">
    <div class="c-addresses__side">
      <h2 class="c-addresses__heading">
        Primary Address
      </h2>
      {% if customer.addresses.size == 0 %}
        <span class="c-addresses__text">
          You don't have a primary address on file.
        </span>
      {% else %}
        {% for address in customer.addresses %}
          {% if address == customer.default_address %}
            <div class="c-addresses__group">
              <h4 class="c-addresses__subheading">
                {{ address.first_name | capitalize }} {{ address.last_name | capitalize }}
                <i class="c-addresses__subheadingIcon fas fa-check-circle"></i>
              </h4>
              <div class="c-addresses__text">
                {% if address.company != '' and address.company != nil %}
                  {{ address.company }}<br />
                {% endif %}
                {{ address.address1 }}<br />
                {% if address.address2 != '' and address.address2 != nil %}
                  {{ address.address2 }}<br />
                {% endif %}
                {{ address.city}}, {% if address.province_code %}{{ address.province_code }}, {% endif %} {{ address.zip }}<br />
                {% if address.phone != '' and address.phone != nil %}
                  {{ address.phone }}
                {% endif %}
              </div>
              <div class="c-account__buttonGroup">
                <a class="c-account__button u-button u-button--small trigger-modal" data-modal-id="editAddress_{{ address.id }}">
                  Edit
                </a>
                <a class="c-account__button u-button--secondary u-button--small trigger-modal" data-modal-id="addAddress">
                  Add Address
                </a>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
    {% unless customer.addresses.size < 2 %}
      <div class="c-addresses__side">
        <h2 class="c-addresses__heading">
          Other Addresses
        </h2>
        {% for address in customer.addresses %}
          {% if address != customer.default_address %}
            <div class="c-addresses__group">
              <h4 class="c-addresses__subheading">
                {{ address.first_name | capitalize }} {{ address.last_name | capitalize }}
              </h4>
              <div class="c-addresses__text">
                {% if address.company != '' and address.company != nil %}
                  {{ address.company }}<br />
                {% endif %}
                {{ address.address1 }}<br />
                {% if address.address2 != '' and address.address2 != nil %}
                  {{ address.address2 }}<br />
                {% endif %}
                {{ address.city}}, {% if address.province_code %}{{ address.province_code }}, {% endif %} {{ address.zip }}<br />
                {% if address.phone != '' and address.phone != nil %}
                  {{ address.phone }}
                {% endif %}
              </div>
              <div class="c-account__buttonGroup">
                <a class="c-account__button u-button u-button--small trigger-modal" data-modal-id="editAddress_{{ address.id }}">
                  Edit
                </a>
                <a class="c-account__button u-buttonHollow--danger u-button--small trigger-modal" data-modal-id="deleteAddress_{{ address.id }}">
                  Delete
                </a>
              </div>
            </div>
          {% endif %}
        {% endfor %}
        </div>
      </div>
    {% endunless %}
  </div>
  <vue-modal>
    {% include 'form-add-address' %}
    {% include 'form-edit-address' %}
    {% include 'form-delete-address' %}
  </vue-modal>
</section>

{{ 'addresses.js' | asset_url | script_tag }}