<div class="c-order{% if order.cancelled %} c-order--cancelled{% endif %} o-section">
  <div class="c-order__wrapper o-container">
    <div class="c-order__intro">
      <h2 class="c-order__heading">
        Order {{ order.name }}
      </h2>
      <span class="c-order__status">
        {% if order.financial_status == "paid" %}
          <i class="c-order__icon c-order__icon--processed fas fa-check-circle"></i>
          Processed
        {% elsif order.cancelled != true %}
          <i class="c-order__icon c-order__icon--pending fas fa-minus-circle"></i>
          Pending
        {% else %}
          <i class="c-order__icon c-order__icon--cancelled fas fa-times-circle"></i>
          Cancelled
        {% endif %}
      </span>
      <span class="c-order__date">
         <i class="c-order__icon c-order__icon--date far fa-calendar-check"></i>
         {{ order.created_at | date: "%B %e, %Y" }}
      </span>
    </div>
    <div class="c-order__addresses">
      <div class="c-order__group">
        <h4 class="c-order__subheading">
          Billing Address
        </h4>
        <div class="c-order__text">
          {{ order.shipping_address.first_name }} {{ order.shipping_address.last_name }}<br />
          {{ order.billing_address.address1 }}<br />
          {% if order.billing_address.address2 != '' and order.billing_address.address2 != nil %}
            test{{ order.billing_address.address2 }}<br />
          {% endif %}
          {{ order.billing_address.city}}, {% if order.billing_address.province_code %}{{ order.billing_address.province_code }}, {% endif %} {{ order.billing_address.zip }}<br />
        </div>
      </div>
      <div class="c-order__group">
        <h4 class="c-order__subheading">
          Shipping Address
        </h4>
        <div class="c-order__text">
          {{ order.shipping_address.first_name }} {{ order.shipping_address.last_name }}<br />
          {{ order.shipping_address.address1 }}<br />
          {% if order.shipping_address.address2 != '' and order.shipping_address.address2 != nil %}
            {{ order.shipping_address.address2 }}<br />
          {% endif %}
            {{ order.shipping_address.city}}, {% if order.shipping_address.province_code %}{{ order.shipping_address.province_code }}, {% endif %} {{ order.shipping_address.zip }}<br />
        </div>
      </div>
    </div>
    <table class="c-order__table">
      <thead class="c-order__tableHead">
        <tr class="c-order__tableHeadRow">
          <th class="c-order__tableHeadCell">
            Item
          </th>
           <th class="c-order__tableHeadCell">
            Quantity
          </th>
           <th class="c-order__tableHeadCell">
            Price
          </th>
           <th class="c-order__tableHeadCell">
            Total
          </th>
        </tr>
      </thead>
      <tbody class="c-order__tableBody">
        {% for line_item in order.line_items %}
          <tr class="c-order__tableBodyRow">
            <td class="c-order__tableBodyCell">
              <div class="c-order__item">
                <img class="c-order__itemImage" src="{{ line_item.image | img_url: 'small' }}" />
                <div class="c-order__itemDetails">
                  <span class="c-order__itemVendor">
                    {{ line_item.vendor }}
                  </span>
                   <span class="c-order__itemVendor">
                    {{ line_item.vendor }}
                  </span>
                   <span class="c-order__itemTitle">
                    {{ line_item.title }}
                  </span>
                  <span class="c-order__itemVariant">
                    {{ line_item.variant.title }}
                  </span>
                </div>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>