<div class="c-footerNav">
  <a class="c-footerNav__group c-footerNav__group--social" href="/">
    <img class="c-footerNav__logoIcon" src="{{ 'logo.svg' | asset_url }}"  alt="{{ shop.name }}" itemprop="logo" />
  </a>
  {% for link in linklists.footer-menu.links %}
    <nav class="c-footerNav__group">
      <a class="c-footerNav__heading" href="{{ link.url }}">{{ link.title }}</a>
      {% for link in link.links %}
        <a class="c-footerNav__link" href="{{ link.url }}">{{ link.title }}</a>
      {% endfor %}
    </nav>
  {% endfor %}
</div>