{% assign content = section.settings %}

<div class="c-404">
  <h1 class="c-404__heading u-textCenter">{{ content.main_heading }}</h1>
  <p class="c-404__text u-textCenter">
    {{ content.main_text }}
  </p>
   <div class="c-404__search">
    {% include "form-search" with placeholder: content.main_search_placeholder %}
  </div>
  <hr class="c-404__divider u-bgWhite" />
  <h3 class="c-404__subheading">
    {{ content.links_heading}}
  </h3>
  <nav class="c-404__nav o-flexColumn" role="navigation" aria-label="404 Navigation">
    {% for link in linklists[content.links_navigation].links %}
      <div class="c-404__navGroup">
        <h6 class="c-404__navHeading">
          {{ link.title }}
        </h6>
        <ul class="c-404__navList">
          {% for link in link.links %}
            <li class="c-404__navItem">
              <a class="c-404__navLink" href="{{ link.url }}" title="{{ link.title }}"">
                {{ link.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </nav>
</div>

{% schema %}
{
	"name": "Page",
	"settings": [
    {
      "type": "header",
      "content": "404 Main"
    },
		{
      "type": "text",
			"id": "main_heading",
			"label": "Main Heading",
      "default": "Whoops!"
		},
    {
      "type": "text",
			"id": "main_text",
			"label": "Main Text",
      "default": "The page you're looking for was not found. Let's get you back on track!"
		},
    {
      "type": "text",
			"id": "main_search_placeholder",
			"label": "Main Search Placeholder",
      "default": "Search our shop..."
		},
    {
      "type": "header",
      "content": "404 Links"
    },
    {
      "type": "text",
			"id": "links_heading",
			"label": "Links Heading",
      "default": "Quick Links"
		},
    {
      "type": "link_list",
			"id": "links_navigation",
			"label": "Links Navigation"
		}
  ]
}
{% endschema %}