<section class="c-product">
  <div class="c-productBuy o-strip u-bgGray">
    <div class="c-productBuy__container o-container o-flexFlip">
      {% assign settings = section.settings %}
      {% if settings.show_breadcrumbs %}
        {% include "part-breadcrumbs" %}
      {% endif %}
      <div class="c-productBuy__images o-flexItem-50 o-flexColumn u-showTablet">
        {% include "product-slideshow" with product, image_size: "1024x1024" %}
      </div>
      <div class="c-productBuy__images o-flexItem-50 o-flexColumn u-hideTablet">
        {% include "product-carousel" with product, image_size: "1024x1024" %}
      </div>
      <div class="c-productBuy__details o-flexItem-50 o-flexColumn">
        {% assign tagline = product.metafields.product.tagline %}
        {% include "product-form" with product, tagline, settings %}
      </div>
    </div>
  </div>
  <div class="c-productDetails o-strip">
    <div class="c-productDetails__container o-container o-flexFlip">
      {% if section.settings.show_description %}
        <div class="c-productDetails__group o-flexItem-50 o-flexColumn">
          <h3>{{ section.settings.description_heading }}</h3>
          <p class="c-productDetails__description">
            {{ product.description }}
          </p>
          <div class="c-productDetails__profits">
            {% include "icon-profits" %}
          </div>
        </div>
      {% endif %}
      {% if section.settings.show_tags %}
        {% assign tag_array = product.metafields.product.tags | split: "," %}
        {% if tag_array.size > 0 %}
          <div class="c-productDetails__group o-flexItem-50 o-flexColumn">
            <h3>{{ section.settings.tags_heading }}</h3>
            {% include "product-tags" with tag_list: tag_array, settings %}
          </div>
        {% endif %}
      {% endif %}
      {% if section.settings.show_features %}
        {% assign feature_array = product.metafields.product.features | split: "," %}
        {% if feature_array.size > 0 %}
          <div class="c-productDetails__group o-flexItem-100 o-flexColumn">
            <h3>{{ section.settings.features_heading }}</h3>
            {% include "product-features" with feature_list: feature_array, settings %}
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>
  {% if section.settings.show_collection %}
    <div class="c-productRelated o-strip u-bgGray">
      <div class="c-productRelated__container o-container">
        <h2 class="c-productRelated__heading u-textCenter">
          {{ section.settings.collection_heading }}
        </h2>
        {% assign related_handle = "all-products" %}
        {% for tag in product.tags %}
          {% if section.settings.collection_tags contains tag %}
            {% assign related_handle = tag | handleize %}
          {% endif %}
        {% endfor %}
        <div class="c-productRelated__collection">
          {% include "collection-carousel" with product, collection: collections[related_handle], randomize: true, limit: section.settings.collection_count %}
        </div>
      </div>
    </div>
  {% endif %}
</section>

{% schema %}
{
	"name": "Page",
	"settings": [
    {
      "type": "header",
      "content": "Page"
    },
		{
      "type": "checkbox",
			"id": "show_breadcrumbs",
			"label": "Show Breadcrumbs",
      "default": true
		},
    {
      "type": "header",
      "content": "Product Main"
    },
    {
      "type": "checkbox",
			"id": "show_tagline",
			"label": "Show Tagline",
      "default": true
		},
		{
      "type": "checkbox",
			"id": "show_vendor",
			"label": "Show Vendor",
      "default": true
		},
    {
      "type": "text",
      "id": "quantity_label",
      "label": "Quantity Label",
      "default": "Quantity"
    },
    {
      "type": "text",
      "id": "button_active_text",
      "label": "Button Active Text",
      "default": "Add To Cart"
    },
    {
      "type": "text",
      "id": "button_disabled_text",
      "label": "Button Disabled Text",
      "default": "Sold Out"
    },
    {
      "type": "header",
      "content": "Product Details"
    },
    {
      "type": "checkbox",
			"id": "show_description",
			"label": "Show Description",
      "default": true
		},
    {
			"type": "text",
      "id": "description_heading",
			"label": "Description Heading",
      "default": "Description"
		},
    {
      "type": "checkbox",
			"id": "show_tags",
			"label": "Show Tags",
      "default": true
		},
    {
      "type": "text",
			"id": "tags_heading",
			"label": "Tags Heading",
      "default": "Tags"
		},
    {
      "type": "checkbox",
			"id": "show_features",
			"label": "Show Features",
      "default": true
		},
    {
      "type": "text",
			"id": "features_heading",
			"label": "Features Heading",
      "default": "Features"
		},
    {
      "type": "header",
      "content": "Product Collection"
    },
    {
      "type": "checkbox",
			"id": "show_collection",
			"label": "Show Collection",
      "default": true
		},
    {
      "type": "text",
      "id": "collection_heading",

      "label": "Collection Heading",
      "default": "Recommended Products"
    },
    {
      "type": "text",
      "id": "collection_tags",
      "label": "Collection Upsell Tags",
      "info": "Comma separated list of tags",
      "default": "For Dogs,For People"
    },
    {
      "type": "range",
      "id": "collection_count",
      "min": 0,
      "max": 16,
      "step": 4,
      "label": "Collection Count",
      "default": 12
    }
  ]
}
{% endschema %}