<div class="c-productImages__slideshow {{ class_prefix }}slideshow c-slideshow o-flexItem-50 o-flexColumn">
  <div class="c-productImages__imageBox {{ class_prefix }}imageBox">
    {% for image in images %}
      <img class="c-productImages__image {{ class_prefix }}image" src="{{ image.src | img_url: '1024x1024' }}" alt="{{ featured_image.alt | escape }}" />
    {% endfor %}
  </div>
  <ul class="c-productImages__thumbnailList {{ class_prefix }}thumbnailList o-flexRow">
    {% for image in images %}
    <li class="c-productImages__thumbnailItem {{ class_prefix }}thumbnailItem {% if forloop.first %}is-active{% endif %}">
      <a class="c-productImages__thumbnailLink {{ class_prefix }}thumbnailLink trigger-product-thumb" aria-label="Product Thumbnail">
        <img class="c-productImages__thumbnailImage {{ class_prefix }}thumbnailImage" src="{{ image.src | img_url: 'compact' }}" data-url="{{ image.src | img_url: '1024x1024' }}" alt="{{ image.alt | escape }}" />
      </a>
    </li>
    {% endfor %}
  </ul>
</div>

<script src="{{ 'slideshow.js' | asset_url }}" defer="defer"></script>