<!doctype html>
<html lang="{{ shop.locale }}">
<head>
{% include 'head-tags' %}
{{ content_for_header }}
</head>
<body id="body" class="c-auth" style="background-image:url({{ 'background-paws.svg' | asset_url }});">
  <div class="c-auth__wrapper o-container--large">
    <div class="c-auth__back">
      <a class="c-auth__backLink" href="/">
        <span class="c-auth__backChevron" aria-hidden="true">&lsaquo;</span>
        Back to Paws For A Cause
      </a>
    </div>
    <div class="c-auth__inner">
      {{ content_for_layout }}
    </div>
  </div>
  {{ 'auth.js' | asset_url | script_tag }}
</body>