<!doctype html>
<html lang="{{ shop.locale }}">
<head>
{% include 'theme-head' %}
{{ content_for_header }}
</head>
<body id="body" class="c-paws" style="background-image:url({{ 'background-paws.svg' | asset_url }});">
  <div class="c-paws__container o-container--large">
    <div class="c-paws__back">
      <a class="c-paws__backLink" href="/">
        <span class="c-paws__backChevron" aria-hidden="true">&lsaquo;</span>
        Back to Paws For A Cause
      </a>
    </div>
    {{ content_for_layout }}
  </div>
  {% if canonical_url contains 'account' %}
    <script src="{{ 'auth.js' | asset_url }}" defer="defer"></script>
  {% endif %}
</body>